= form_for @application_setting, url: general_admin_application_settings_path(anchor: 'js-merge-request-settings'), html: { class: 'fieldset-form', id: 'merge-request-settings' } do |f|
  = form_errors(@application_setting)

  %fieldset
    .form-group
      = f.label :diff_max_patch_bytes, _('Maximum diff patch size in bytes'), class: 'label-light'
      = f.number_field :diff_max_patch_bytes, class: 'form-control gl-form-input'
      %span.form-text.text-muted
        = _("Collapse diffs larger than this size, and show a 'too large' message instead.")

        = link_to sprite_icon('question-o'),
          help_page_path('user/admin_area/diff_limits')
  = f.submit _('Save changes'), class: 'gl-button btn btn-confirm'
